# for vscode and build
.DS_Store
/.vscode
/.build

# for env variables
/Athena/Debug.xcconfig
/Athena/Release.xcconfig

# for user data
/Athena.xcodeproj/xcuserdata/
/Athena.xcodeproj/project.xcworkspace/xcuserdata/