<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.45544989567-o0vpa32fejc89u07hhqnkoro20qfhqc1</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AGaramondPro-Regular.otf</string>
		<string>AGaramondPro-Italic.otf</string>
		<string>AGaramondPro-Bold.otf</string>
		<string>AGaramondPro-BoldItalic.otf</string>
	</array>
</dict>
</plist>
